<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Prueba | Gilberto Orozco</title>
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" />
    </head>
    
    <body id="home">
        <div class="container">

            <!-- INICIO HEADER -->
            <div class="jumbotron">
                <h1>Gilberto Orozco Linero</h1>
            </div>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class=""><a href="/app_dev.php/more-collaborators">More Collaborators</a></li>
                            <li class=""><a href="/app_dev.php/more-ranked">More Ranked</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <!-- FIN HEADER -->

            <!-- INICIO CONTENT -->
            <div class="panel panel-default">
                <div class="panel-heading"><h2>More Collaborators</h2></div>
                <div class="panel-body">
                    <p>Repositories list with more followers</p>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Repository</th>
                            <th>Author</th>
                            <th>URL</th>
                            <th>Description</th>
                            <th>Collaborators</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mostCollaborator in mostCollaborators %}
                        <tr>
                            <td>{{ mostCollaborator.repository }}</td>
                            <td>{{ mostCollaborator.author }}</td>
                            <td><a href="{{ mostCollaborator.url }}" target="_blank">{{ mostCollaborator.url }}</a></td>
                            <td>{{ mostCollaborator.description }}</td>
                            <td>{{ mostCollaborator.collaborators }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- FIN CONTENT -->

        <!-- Javascript -->
        <script src="{{ asset('bootstrap/js/jquery-3.2.0.min.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    </body>
</html>
